db_credentials.txt
.env
.env.prod
externalImages/*
imprint.twig
privacy.twig
.idea
composer.phar
root/vendor/
root/phpunit.phar
root/.phpunit.result.cache

# Local DB dumps dropped into the Docker init dir (may contain data)
docker/db-init/*.sql
!docker/db-init/README.md