<div class="controlButtons">
    <button type="button" class="minimize">-</button>
    <button type="button" class="moveUp">
        <i class="fa-solid fa-caret-up"></i>
    </button>
    <button type="button" class="delete">
        <i class="fa-solid fa-xmark"></i>
    </button>
    <button type="button" class="moveDown">
        <i class="fa-solid fa-caret-down"></i>
    </button>
</div>