{% extends "base.twig" %}

{% block title %}Verifiziert - {% endblock %}

{% block mainContent %}
    <h1>Verifizierung</h1>
    {% if verified == true %}
        <p>Sie haben sich erfolgreich verifiziert! Sie können sich nun anmelden.</p>
        <a class="button" href="/login">Zur Anmeldung</a>
    {% else %}
        <p>Bei Ihrer Verifizierung ist ein Fehler aufgetreten. Versuchen Sie es erneut oder registrieren Sie sich nochmal.</p>
        <a class="button" href="/register">Zur Registrierung</a>
        <a class="button" href="/">Zur Startseite</a>
    {% endif %}
{% endblock %}