<div class="sectionRow">
    <div>
        <label>Abschnitts-Überschrift
            <input name="sectionHeadline[]" maxlength="300">
        </label>
    </div>
    <div class="controlButtons">
        <button type="button" class="moveUp" title="Nach oben"><i class="fa-solid fa-caret-up"></i></button>
        <button type="button" class="delete" title="Abschnitt entfernen"><i class="fa-solid fa-xmark"></i></button>
        <button type="button" class="moveDown" title="Nach unten"><i class="fa-solid fa-caret-down"></i></button>
    </div>
</div>