<div class="templateRow">
    <div>
        <label>Gruppe/Abschnitt
            <input name="templateGroup[]" maxlength="300" value="{{ i }}">
        </label>
        <label>Feldname
            <input name="templateTopic[]" maxlength="300">
        </label>
    </div>
    <div class="controlButtons">
        <button type="button" class="moveUp" title="Nach oben"><i class="fa-solid fa-caret-up"></i></button>
        <button type="button" class="delete" title="Feld entfernen"><i class="fa-solid fa-xmark"></i></button>
        <button type="button" class="moveDown" title="Nach unten"><i class="fa-solid fa-caret-down"></i></button>
    </div>
</div>