{% extends "base.twig" %}

{% block title %}Neues Projekt - {% endblock %}

{% block head %}
    {{ parent() }}
    <script src="../../assets/js/selectSearch.js" type="text/javascript"></script>
    <script src="../../assets/js/projectForm.js" type="text/javascript"></script>
{% endblock %}

{% block main_content %}
    <h1>Ein neues Projekt erstellen</h1>
    <form method="post" action="/project/save" id="createProject">
        <label>Name des Projekts*
            <input name="projectName" maxlength="200" required>
            <span class="error exists hide">Ein Projekt mit diesem Namen existiert bereits!</span>
            <span class="length">200</span>
        </label>
        <label>Übergeordnetes Projekt
            <input class="searchselect" name="parentProject" list="projects">
                <datalist>
                    <option value="">-</option>
                    {% for project in projects %}
                        <option value="{{ project }}">{{ project }}</option>
                    {% endfor %}
                </datalist>
            <span class="error notfound hide">Dieses Projekt existiert nicht!</span>
        </label>
        <label>Kurze Beschreibung
            <textarea name="description" maxlength="1000"></textarea>
            <span class="length">1000</span>
        </label>
        <fieldset>
            <label>
                <input type="checkbox" name="private" value="private">
                Soll das Projekt privat sein? (Private Projekte und ihre Inhalte können nur von dir gesehen und bearbeitet werden.)
            </label>
        </fieldset>
    </form>
    <input class="button" type="submit" value="Projekt speichern" name="submit" form="createProject">
{% endblock %}