{% extends "base.twig" %}

{% block title %}404 - {% endblock %}

{% block mainContent %}
    <h1>404 - Seite nicht gefunden!</h1>
    <p>Leider existiert die von Ihnen aufgerufene Seite nicht.</p>
    <a class="button" href="/">Zurück zur Startseite</a>
{% endblock %}