<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../../tinymce/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#tinymce',
            license_key: 'gpl',
            plugins: [ 'link','lists','table' ],
            toolbar: [
                { name: 'history', items: [ 'undo', 'redo' ] },
                { name: 'styles', items: [ 'styles' ] },
                { name: 'formatting', items: [ 'bold', 'italic','underline' ] },
                { name: 'alignment', items: [ 'alignleft', 'aligncenter', 'alignright', 'alignjustify' ] },
                { name: 'indentation', items: [ 'outdent', 'indent' ] },
                { name: 'lists', items: [ 'numlist', 'bullist' ] },
                { name: 'links', items: [ 'link', 'unlink' ] }
            ],
            language: 'de'
        });
    </script>
</head>

<body>
<h1>TinyMCE Quick Start Guide</h1>
<form method="post" action="../../index.php">
    <label for="tinymce">Text Editor</label><textarea id="tinymce" name="editor"></textarea>
    <input type="submit" name="submit">
</form>
</body>
</html>