{% extends "base.twig" %}

{% block title %}Anmeldung - {% endblock %}

{% block mainContent %}
    <h1>Anmeldung</h1>
    {% if loginError == true %}
    <h4 class="error">Keine Übereinstimmung mit einem Account mit diesen Anmeldedaten.</h4>
    {% endif %}
    <form method="post" id="login" action="/login/login" class="flex-50">
        <label>Benutzername oder E-Mail*
            <input name="user" value="{{ user }}">
        </label>
        <label>Passwort*
            <input name="password" type="password">
        </label>
        <label>
            <input type="checkbox" name="remember">
        Angemeldet bleiben</label>
    </form>
    <input class="button" type="submit" name="submit" value="Anmelden" form="login">
    <p>Mit * versehende Felder müssen ausgefüllt sein.</p>
{% endblock %}