/******************************************
COLOR VARIABLES
******************************************/
:root{
    --txt: #272727;
    --body-bg: #ececec;
    --main-bg: #f4f4f4;
    --box-bg: #ccc;
    --link: #4242ff;
    --error: #d90000;
    --svg-filter: invert(9%) sepia(98%) saturate(9%) hue-rotate(326deg) brightness(91%) contrast(93%);
}
:root.light{
    --txt: #222;
    --body-bg: #f4f4f4;
    --main-bg: #fff;
    --box-bg: #ccc;
    --link: #4242ff;
    --error: #d90000;
    --svg-filter: invert(9%) sepia(98%) saturate(9%) hue-rotate(326deg) brightness(91%) contrast(93%);
}
:root.dark{
    --txt: #f1f1f1;
    --body-bg: #222;
    --main-bg: #191919;
    --box-bg: #555;
    --link: #9d9dff;
    --error: #f66;
    --svg-filter: invert(100%) sepia(1%) saturate(37%) hue-rotate(182deg) brightness(113%) contrast(89%);
}

/******************************************
GENERAL STYLING
******************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--txt);
    font-family: "Roboto", serif;
}
html{
    font-size: 16px;
}
body{
    background-color: var(--body-bg);
}
a{
    color: var(--link);
    text-decoration: none;
}
h1{
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 2px solid var(--txt);
    padding-bottom: 0.2rem;
    margin-bottom: 1.5rem;
}
h2{
    font-size: 1.75rem;
    font-weight: 600;
    border-bottom: 2px solid var(--txt);
    padding-bottom: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h3{
    font-size: 1.5rem;
    font-weight: 500;
}
h4{
    font-size: 1.25rem;
    font-weight: 400;
}
h5{
    font-size: 1rem;
    font-weight: 600;
}
h6{
    font-size: 0.75rem;
    font-weight: 600;
}
p{
    margin: 0.3em 0;
    line-height: 1.15em;
}
.button{
    color: var(--txt);
    padding: 0.2em 0.5em;
    border: 1px solid var(--txt);
    background-color: var(--box-bg);
    display: block;
    border-radius: 0.3em;
    cursor: pointer;
}
main .button{
    margin-top: 0.5em;
    width: fit-content;
}
.button:hover{
    color: var(--box-bg);
    background-color: var(--txt);
    transition: 0.3s;
}
.flex-50, .flex-33, .flex-25, .flex-20{
    display: flex;
    flex-wrap: wrap;
}
.flex-50{
    justify-content: space-between;
}
.fullwidth{
    width: 100%;
}
.flex-50 > *:not(.fullwidth){
    width: calc(50% - 1.5em);
    margin-bottom: 1.5em;
}
.flex-33 > *:not(.fullwidth){
    width: calc(100% / 3 - 3em / 3);
    margin-bottom: 1.5em;
}
.flex-25 > *:not(.fullwidth){
    width: calc(25% - 4.5em / 4);
    margin-bottom: 1.5em;
}
.flex-20 > *:not(.fullwidth){
    width: calc(20% - 6em / 5);
    margin-bottom: 1.5em;
}
.flex-33 > *:not(.fullwidth, :nth-child(3n)), .flex-25 > *:not(.fullwidth, :nth-child(4n)), .flex-20 > *:not(.fullwidth, :nth-child(5n)){
    margin-right: calc(1.5em);
}
.hide{
    display: none;
}


/******************************************
FORMS
******************************************/
input:not([type='checkbox'], [type='radio'], [type='submit']), textarea{
    background-color: var(--main-bg);
    border: 1px solid var(--txt);
    font-size: 1em;
    padding: 0.25em 0.5em;
}
main form label.button:has(input[type='file']){
    padding: 0.2em 0.5em;
    flex-flow: row;
}
main form label.button:has(input[type='file']) i{
    margin-right: 0.25em;
}
main form label.button:has(input[type='file']):hover i{
    color: var(--box-bg);
    transition: 0.3s;
}
main form label.button:has(input[type='file']) span.selected-file{
    left: 100%;
    margin-left: 0.5em;
    width: max-content;
    top: 50%;
    transform: translateY(-50%);
    bottom: unset;
    font-size: 1em;
}
main form label.button:has(input[type='file']):has(span.info){
    margin-bottom: 4em;
}
main form label.button:has(input[type='file']) span.info{
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 0.25em;
    font-size: 0.9em;
    width: max-content;
}
main form label.button:has(input[type='file']) span.errorContainer{
    top: calc(100% + 1.5em);
    bottom: unset;
    left: 0;
    width: max-content;
}
span.errorContainer{
    display: flex;
    flex-flow: column;
}
input[type='file']{
    display: none;
}
input:focus, textarea:focus{
    outline: none;
}
input:is(:-webkit-autofill, :autofill){
    filter: none;
    box-shadow: 0 0 0 40px var(--main-bg) inset !important;
    -webkit-text-fill-color: var(--txt);
}
input[type="submit"]{
    font-size: 1em;
    margin-bottom: 1.5em;
}
main form, main form fieldset{
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main form:not(.flex-50){
    flex-flow: column;
}
main form.search{
    margin-bottom: 1.5em;
}
main form fieldset{
    margin: 0;
    width: 100%;
    border: none;
}
main form label:has(input:not([type='checkbox'], [type='radio'], [type='submit']), textarea:not(.tinymce)){
    display: flex;
    flex-flow: column;
    margin-bottom: 0.5em;
    padding-bottom: 1.2em;
    position: relative;
}
main .search label:has(input[type="submit"]){
    position: relative;
}
main form label:has(input[type="search"]){
    width: 100%;
    padding: 0;
    margin: 0;
}
main form textarea{
    max-width: 100%;
    min-height: 200px;
    min-width: 200px;
}
main form label:has(input[type='checkbox']){
    display: flex;
    align-items: center;
    width: fit-content;
    padding-bottom: 1.2em;
    margin-bottom: 0.5em;
    position: relative;
    cursor: pointer;
}
main form fieldset.checkbox{
    margin-bottom: 1.2em;
    flex-flow: column;
}
main form fieldset.checkbox label{
    padding-bottom: 0;
}
main form label:has(.tox-tinymce){
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-bottom: 0.5em;
    padding-bottom: 1.2em;
    position: relative;
}
input[type='checkbox']{
    font-size: 1rem;
    width: 1.25em;
    height: 1.25em;
    margin-right: 1em;
}
main form label:has(input[type='checkbox']):before{
    content: '';
    width: 1.25em;
    height: 1.25em;
    background-color: var(--main-bg);
    border: 1px solid var(--txt);
    position: absolute;
    left: 0;
}
main form label:has(input[type='checkbox']):after{
    display: none;
    content: '';
    position: absolute;
    left: 0.45em;
    top: 0.1em;
    border-bottom: 3px solid var(--txt);
    border-right: 3px solid var(--txt);
    width: 0.3em;
    height: 0.75em;
    transform: rotate(45deg);
}
main form label:has(input[type='checkbox']:checked):after{
    display: block;
}
main label > span{
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
    font-weight: 500;
}
.error{
    color: var(--error);
}
main form span.maxLength{
    right: 0;
}
label:has(input.searchselect){
    position: relative;
}
input + datalist{
    top: calc(100% - 1.2em);
    position: absolute;
    display: none;
    width: 100%;
    border: 1px solid;
    z-index: 10;
    background-color: var(--main-bg);
}
input:focus + datalist, input + datalist:hover{
    display: block;
}
input + datalist option{
    padding: 0.25em 0.5em;
    cursor: pointer;
}
input + datalist option:hover{
    background-color: var(--box-bg);
}
input.searchselect ~ i{
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}

/******************************************
HEADER
******************************************/
header{
    background-color: var(--main-bg);
    border-bottom: 0.2em solid var(--txt);
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}
header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > div:first-child{
    width: calc(100% - 25em);
}
header > div:last-child{
    width: 25em;
    justify-content: flex-end;
}
.logo{
    margin-right: 1em;
    width: 22em;
}
.logo a{
    display: flex;
    align-items: center;
}
.logo i:before{
    font-size: 2em;
    margin-right: 0.25em;
}
header form{
    width: calc(100% - 16em);
    position: relative;
}
input[type='search']{
    height: 2em;
    width: 100%;
}
.search input[type="submit"]{
    display: none;
}
.search input[type="submit"] + i{
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
}
.darkmode-switch{
    display: flex;
    align-items: center;
    margin-right: 1em;
}
.darkmode-switch i{
    margin-right: 0.5em;
}
.switch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--box-bg);
    border-radius: 2em;
}
.slider .slide-before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 0.25em;
    bottom: 0.25em;
    background-color: var(--txt);
    border-radius: 50%;
}
.login{
    display: flex;
    align-items: center;
}
.login a:last-child{
    margin-left: 1em;
}

/******************************************
MAIN FRAMEWORK
******************************************/
main{
    width: calc(100% - 4em);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#right, main .content{
    background-color: var(--main-bg);
    padding: 1em 1.25em;
}
main > aside{
    width: 11em;
}
main > aside#left{
    padding: 0;
}
main > .content{
    width: calc(100% - 25em);
}
main #right li{
    display: flex;
    flex-flow: column;
    margin-bottom: 1em;
}

/******************************************
NAVIGATION
******************************************/
nav ul, aside ul{
    list-style-type: none;
}
nav ul{
    display: flex;
    flex-flow: column;
}
nav ul.level1 > li{
    position: relative;
}
nav ul.level2{
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    border-left: 0.25em solid var(--txt);
    min-width: 7em;
    width: fit-content;
    z-index: 100;
}
nav a{
    display: block;
    padding: 0 0.4em;
    line-height: 1.8em;
    background-color: var(--box-bg);
    color: var(--txt);
    position: relative;
}
nav li:not(:last-child) > a{
    border-bottom: 1px solid var(--txt);
}
nav a:hover{
    background-color: var(--txt);
    color: var(--box-bg);
    transition: 0.3s;
}
nav a i{
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
}
nav a:hover i{
    color: var(--box-bg);
    transition: 0.3s;
}
nav ul.level1 > li > a:hover + ul.level2, ul.level2:hover{
    display: block;
}
nav ul.level2 li:last-child a, nav ul.level1 > li.submenu > a{
    padding-right: 1.5em;
}

/******************************************
PROJECT LIST
******************************************/
.content ul{
    list-style-type: none;
}
.content ul.level1{
    margin-top: 1.5em;
    font-size: 1.5em;
}
.content ul > li > ul{
    margin-left: 2rem;
    font-size: calc(1em - 0.1rem);
}
.content ul li a{
    display: block;
    padding: 0.5em;
    transition: 0.3s;
}
.content ul li a:hover{
    background-color: var(--box-bg);
}
.content ul li .project-link{
    position: relative;
    border: 1px solid var(--txt);
}
.content ul li i{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    height: 100%;
    width: 3rem;
    cursor: pointer;
    border-left: 1px solid var(--txt);
    background-color: var(--main-bg);
    transition: 0.3s;
}
.content ul li i:hover{
    background-color: var(--box-bg);
}
.content ul li i:before{
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    transition: 0.3s;
}
.content ul li:has(> .hidden) i:before{
    transform: translate(50%, -50%) rotate(180deg);
}
.content ul li:has(ul) > .project-link > i{
    display: block;
}
.categories{
    margin-top: 1.5em;
}
.categories > a{
    display: flex;
    height: 10em;
    background-color: var(--box-bg);
    text-align: center;
    flex-flow: column;
    justify-content: space-evenly;
    border: 1px solid var(--txt);
}
.categories > a:hover{
    background-color: var(--main-bg);
    border-color: var(--box-bg);
    transition: 0.3s;
}
.categories > a img{
    filter: var(--svg-filter);
    height: 5em;
}
