/******************************************
COLOR VARIABLES
******************************************/
:root{
    --txt: #272727;
    --body-bg: #ececec;
    --main-bg: #f4f4f4;
    --box-bg: #ccc;
    --box-bg2: #e3e3e3;
    --link: #4242ff;
    --error: #d90000;
    --svg-filter: invert(9%) sepia(98%) saturate(9%) hue-rotate(326deg) brightness(91%) contrast(93%);
    --shadow: #000a
}
:root.light{
    --txt: #222;
    --body-bg: #f4f4f4;
    --main-bg: #fff;
    --box-bg: #ccc;
    --box-bg2: #e3e3e3;
    --link: #4242ff;
    --error: #d90000;
    --svg-filter: invert(9%) sepia(98%) saturate(9%) hue-rotate(326deg) brightness(91%) contrast(93%);
    --shadow: #000a
}
:root.dark{
    --txt: #f1f1f1;
    --body-bg: #222;
    --main-bg: #191919;
    --box-bg: #555;
    --box-bg2: #404040;
    --link: #9d9dff;
    --error: #f66;
    --svg-filter: invert(100%) sepia(1%) saturate(37%) hue-rotate(182deg) brightness(113%) contrast(89%);
    --shadow: #bbb6
}

/******************************************
GENERAL STYLING
******************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
*:not(svg){
    color: var(--txt);
}
html{
    font-size: 16px;
}
body{
    background-color: var(--body-bg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a{
    color: var(--link);
    text-decoration: none;
}
.content a:not(.button, .category, .noUnderline, .article):hover, footer a:not(.button):hover{
    text-decoration: underline;
}
h1{
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 2px solid var(--txt);
    padding-bottom: 0.2rem;
    margin-bottom: 1.5rem;
}
h2{
    font-size: 1.75rem;
    font-weight: 600;
    border-bottom: 2px solid var(--txt);
    padding-bottom: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h3{
    font-size: 1.5rem;
    font-weight: 500;
}
h4{
    font-size: 1.25rem;
    font-weight: 400;
}
h5{
    font-size: 1rem;
    font-weight: 600;
}
h6{
    font-size: 0.75rem;
    font-weight: 600;
}
p{
    margin: 0.3em 0;
    line-height: 1.15em;
}
.button{
    color: var(--txt);
    padding: 0.2em 0.5em;
    border: 1px solid var(--txt);
    background-color: var(--box-bg);
    display: block;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 1em;
}
button{
    cursor: pointer;
}
main .button{
    margin-top: 0.5em;
    width: fit-content;
}
.button:hover{
    color: var(--box-bg);
    background-color: var(--txt);
    transition: 0.3s;
}
.flex-50, .flex-33, .flex-25, .flex-20{
    display: flex;
    flex-wrap: wrap;
}
.flex-50{
    justify-content: space-between;
}
.fullwidth{
    width: 100%;
}
.flex-50 > *:not(.fullwidth){
    width: calc(50% - 1.5em);
    margin-bottom: 1.5em;
}
.flex-33 > *:not(.fullwidth){
    width: calc(100% / 3 - 3em / 3);
    margin-bottom: 1.5em;
}
.flex-25 > *:not(.fullwidth){
    width: calc(25% - 4.5em / 4);
    margin-bottom: 1.5em;
}
.flex-20 > *:not(.fullwidth){
    width: calc(20% - 6em / 5);
    margin-bottom: 1.5em;
}
.flex-33 > *:not(.fullwidth, :nth-child(3n)), .flex-25 > *:not(.fullwidth, :nth-child(4n)), .flex-20 > *:not(.fullwidth, :nth-child(5n)){
    margin-right: calc(1.5em);
}
.hide{
    display: none;
}


/******************************************
FORMS
******************************************/
input:not([type='checkbox'], [type='radio'], [type='submit']), textarea{
    background-color: var(--main-bg);
    border: 1px solid var(--txt);
    font-size: 1em;
    padding: 0.25em 0.5em;
}
main form label.button:has(input[type='file']){
    padding: 0.2em 0.5em;
    flex-flow: row;
}
main form label.button:has(input[type='file']) i{
    margin-right: 0.25em;
}
main form label.button:has(input[type='file']):hover i{
    color: var(--box-bg);
    transition: 0.3s;
}
main form label.button:has(input[type='file']) span.selected-file{
    left: 100%;
    margin-left: 0.5em;
    width: max-content;
    top: 50%;
    transform: translateY(-50%);
    bottom: unset;
    font-size: 1em;
}
main form label.button:has(input[type='file']):has(span.info){
    margin-bottom: 4em;
}
main form label.button:has(input[type='file']) span.info{
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 0.25em;
    font-size: 0.9em;
    width: max-content;
}
main form label.button:has(input[type='file']) span.errorContainer{
    top: calc(100% + 1.5em);
    bottom: unset;
    left: 0;
    width: max-content;
}
span.errorContainer{
    display: flex;
    flex-flow: column;
}
input[type='file']{
    display: none;
}
input:focus, textarea:focus{
    outline: none;
}

/*noinspection CssInvalidPseudoSelector*/
input:is(:-webkit-autofill, :autofill){
    filter: none;
    box-shadow: 0 0 0 40px var(--main-bg) inset !important;
    -webkit-text-fill-color: var(--txt);
}
input[type="submit"]{
    font-size: 1em;
    margin-bottom: 1.5em;
}
main form, main form fieldset{
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
}
main form fieldset > legend{
    margin-bottom: 0.25rem;
}
main form:not(.flex-50){
    flex-flow: column;
}
main form.search{
    margin-bottom: 1.5em;
    position: relative;
}
main form fieldset{
    margin: 0;
    width: 100%;
    border: none;
}
main form label:has(input:not([type='checkbox'], [type='radio'], [type='submit'], [type='hidden']), textarea:not(.tinymce)), .linkModal label:has(input:not([type='checkbox'])){
    display: flex;
    flex-flow: column;
    margin-bottom: 0.5em;
    padding-bottom: 1.2em;
    position: relative;
}
main form label:has(input[type="search"]){
    width: 100%;
    padding: 0;
    margin: 0;
}
main form textarea{
    max-width: 100%;
    min-height: 200px;
    min-width: 200px;
}
main form label:has(input[type='checkbox']), .linkModal label:has(input[type='checkbox']){
    display: flex;
    align-items: center;
    width: fit-content;
    padding-bottom: 1.2em;
    margin-bottom: 0.5em;
    position: relative;
    cursor: pointer;
}
main form fieldset.checkbox{
    margin-bottom: 1.2em;
    flex-flow: column;
}
main form fieldset.checkbox label{
    padding-bottom: 0;
}
input[type='checkbox']{
    font-size: 1rem;
    width: 1.25em;
    height: 1.25em;
    margin-right: 1em;
}
main form label:has(input[type='checkbox']):before, .linkModal label:has(input[type='checkbox']):before{
    content: '';
    width: 1.25em;
    height: 1.25em;
    background-color: var(--main-bg);
    border: 1px solid var(--txt);
    position: absolute;
    left: 0;
}
main form label:has(input[type='checkbox']):after, .linkModal label:has(input[type='checkbox']):after{
    display: none;
    content: '';
    position: absolute;
    left: 0.45em;
    /*top: 0.1em;*/
    border-bottom: 3px solid var(--txt);
    border-right: 3px solid var(--txt);
    width: 0.3em;
    height: 0.75em;
    transform: rotate(45deg);
}
main form label:has(input[type='checkbox']:checked):after, .linkModal label:has(input[type='checkbox']:checked):after{
    display: block;
}
main label > span{
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
    font-weight: 500;
}
.error{
    color: var(--error);
}
main form span.maxLength{
    right: 0;
}
label:has(input.searchSelect){
    position: relative;
}
input + datalist{
    top: calc(100% - 1.2em);
    position: absolute;
    display: none;
    width: 100%;
    border: 1px solid;
    z-index: 10;
    background-color: var(--main-bg);
    box-shadow: 0 0.35em 0.75em -0.25em var(--shadow);
}
input:focus + datalist, input + datalist:hover{
    display: block;
}
input + datalist option{
    padding: 0.25em 0.5em;
    cursor: pointer;
}
input + datalist option:hover{
    background-color: var(--box-bg);
}
input.searchSelect ~ i{
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}
form .paragraph, .infoGallery{
    margin: 1em 0;
}
form .paragraph + hr{
    height: 0.35em;
    background-color: var(--txt);
}
.paragraph:has(.controlButtons), .paragraph .text, .paragraph .gallery, .uploads > div, .upload > div, .infoGallery, .infoTable, .rows, .sources{
    padding: 1em;
    background-color: var(--body-bg);
    border: 2px solid var(--box-bg);
    display: flex;
    justify-content: space-between;
    position: relative;
}
.controlButtons{
    width: 2.5em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1.25rem 0;
}
.infoTableRow .controlButtons{
    width: 6em;
    flex-flow: row;
    justify-content: space-between;
}
.controlButtons button{
    border: none;
    background-color: transparent;
    font-size: 2em;
}
.infoTableRow .controlButtons button{
    margin-bottom: 0.85em;
}
.controlButtons .moveUp{
    margin-bottom: 0.25em;
}
.controlButtons .moveDown{
    margin-top: 0.25em;
}
.infoTableRow .moveUp, .infoTableRow .moveDown{
    margin: 0;
}
.infoTableRow .delete{
    order: 1;
}
.infoTableRow .moveUp i{
    margin-top: 0.2em;
}
.infoTableRow .moveDown i{
    margin-bottom: 0.2em;
}
.paragraph:has(.controlButtons) > div:first-child, .paragraph .text > div:first-child, .paragraph .gallery > div:first-child, .contentImage > div:first-child, .infoTable > div:first-child, .source > div:first-child{
    width: calc(100% - 3.5em);
}
.infoTableRow > div:first-child{
    width: calc(100% - 7em);
}
.text .upload .moveUp, .text .upload .moveDown, *[data-position="1"] > .controlButtons > .moveUp, .paragraph[data-position="2"] > .controlButtons > .moveUp, .paragraph:nth-last-child(6) > .controlButtons > .moveDown, .contentElement:nth-last-child(2) > .controlButtons > .moveDown, .uploads > div:last-child .moveDown, .contentImage:first-child .moveUp, .infoTableRow button.minimize, .infoTable:last-child  > .controlButtons > .moveDown, .source button:not(.delete){
    display: none;
}
.controlButtons .minimize{
    position: absolute;
    top: 0;
    right: 0;
    border-left: 2px solid var(--box-bg);
    border-bottom: 2px solid var(--box-bg);
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    line-height: 2rem;
    background-color: var(--body-bg);
}
.contentImage .minimize{
    display: none;
}
.controlButtons .minimize:hover, .minimized > .controlButtons .minimize{
    background-color: var(--txt);
    color: var(--body-bg);
    transition: 0.3s;
}
.paragraph.minimized, .contentElement.minimized, .infoTable:has(> .controlButtons .minimized){
    max-height: 150px;
    overflow: hidden;
}
.infoGallery > div, .infoTableRow, .source{
    width: 100%;
}
.rows, .sources{
    flex-flow: column;
}
.sources{
    margin-top: 1rem;
}
.infoTableRow, .source{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.infoTableRow > div:first-child, .source > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.infoTableRow label{
    width: calc(50% - 0.25rem);
}
.infoTableRow .controlButtons, .source .controlButtons{
    padding: 0;
}
.infoTableRow textarea {
    min-height: 1.8125em;
    padding: 0.25em 2rem 0.25rem 0.5em;
    min-width: 100%;
}
.rowButtons, .sourceButtons{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 0.5rem;
}
.rowButtons button, .sourceButtons button{
    margin-right: 1.5rem;
}
.rowButtons label, .sourceButtons label{
    margin: 0!important;
    padding: 0!important;
}
.tox-menu .tox-collection__item[aria-label="Überschrift 1"], .tox-menu .tox-collection__item[aria-label="Überschrift 2"]{
    display: none;
}
select/*[name="filter"]*/{
    background-color: var(--main-bg);
    border: 1px solid var(--txt);
    padding: 0.25em;
    font-size: 1rem;
    border-radius: 0.3em;
}
select/*[name="filter"]*/ option{
    font-family: "Roboto", sans-serif;
}
.source label{
    width: calc(70% - 5.5rem);
    display: flex;
    flex-flow: column;
    margin-bottom: 0.5em;
    padding-bottom: 1.2em;
    position: relative;
}
.source label:has(.searchSelect){
    width: calc(30% - 5.5rem);
}
.source label:has(select){
    width: 10rem;
}
.linkModal{
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modalContent {
    background-color: var(--body-bg);
    border: 3px solid var(--txt);
    margin: 15% auto;
    padding: 1rem;
    width: 80%;
    position: relative;
    display: flex;
    flex-flow: column;
}
.linkModal .closeModal{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}
.linkModal h3{
    margin-bottom: 1rem;
}
.linkModal .modalButtons{
    display: flex;
}
.linkModal .modalButtons button{
    margin-right: 0.5rem;
}
button.openModal{
    position: absolute;
    right: 0.2rem;
    top: 50%;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    transform: translateY(-50%);
}
.infoTableRow button.openModal{
    top: 0.2rem;
    transform: none;
}


/******************************************
HEADER
******************************************/
header{
    background-color: var(--main-bg);
    border-bottom: 0.2em solid var(--txt);
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    min-height: 4.25em;
    position: sticky;
    z-index: 10;
    width: 100%;
    top: 0;
}
header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > div:first-child{
    width: calc(100% - 25em);
}
header > div:last-child{
    width: 25em;
    justify-content: flex-end;
}
.logo{
    margin-right: 1em;
    width: 22em;
}
.logo a{
    display: flex;
    align-items: center;
}
.logo i:before{
    font-size: 2em;
    margin-right: 0.25em;
}
header form{
    width: calc(100% - 16em);
    position: relative;
}
input[type='search']{
    height: 2em;
    width: 100%;
}
.search input[type="submit"]:not(.button){
    display: none;
}
.search input[type="submit"] + i{
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.darkmode-switch{
    display: flex;
    align-items: center;
    margin-right: 1em;
}
.darkmode-switch i{
    margin-right: 0.5em;
}
.switch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--box-bg);
    border-radius: 2em;
}
.slider .slide-before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 0.25em;
    bottom: 0.25em;
    background-color: var(--txt);
    border-radius: 50%;
}
.login{
    display: flex;
    align-items: center;
}
.login a:last-child{
    margin-left: 1em;
}

/******************************************
FOOTER
******************************************/
footer{
    background-color: var(--main-bg);
    border-top: 0.2em solid var(--txt);
    padding: 0 2rem;
    display: flex;
    justify-content: right;
    margin-top: 1.5rem;
    min-height: 4.25em;
}
footer a{
    display: flex;
    align-items: center;
    margin-left: 1em;
}

/******************************************
MAIN FRAMEWORK
******************************************/
main{
    width: calc(100% - 4em);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
}
#right, main .content{
    background-color: var(--main-bg);
    padding: 1em 1.25em;
}
main > aside{
    width: 11em;
}
main > aside#left{
    padding: 0;
}
main > .content{
    width: calc(100% - 25em);
    position: relative;
}
main #right > ul > li{
    display: flex;
    flex-flow: column;
    margin-bottom: 1em;
}

/******************************************
NAVIGATION
******************************************/
nav ul, aside ul{
    list-style-type: none;
}
nav ul{
    display: flex;
    flex-flow: column;
}
nav ul.level1 > li{
    position: relative;
}
nav ul.level2{
    display: none;
    position: absolute;
    left: 100%;
    top: -1px;
    border: 1px solid var(--txt);
    border-left: 0.35em solid var(--txt);
    min-width: 10em;
    width: fit-content;
    z-index: 100;
    box-shadow: 0.35em 0 0.75em -0.25em var(--shadow);
}
nav a{
    display: block;
    padding: 0 0.4em;
    line-height: 1.8em;
    background-color: var(--box-bg);
    color: var(--txt);
    position: relative;
}
nav li:not(:last-child) > a{
    border-bottom: 1px solid var(--txt);
}
nav a:hover{
    background-color: var(--txt);
    color: var(--box-bg);
    transition: 0.3s;
}
nav a i{
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
}
nav a:hover i{
    color: var(--box-bg);
    transition: 0.3s;
}
nav ul.level1 > li > a:hover + ul.level2, ul.level2:hover{
    display: block;
}
nav ul.level2 li:last-child a, nav ul.level1 > li.submenu > a{
    padding-right: 1.5em;
}

/******************************************
PROJECT LIST
******************************************/
.content ul{
    list-style-type: none;
    margin-top: 0.5rem;
}
.content ul.level1{
    margin-top: 1.5em;
    font-size: 1.5em;
}
.content ul > li > ul{
    margin-top: 0;
    margin-left: 2rem;
    font-size: calc(1em - 0.05rem);
}
.content ul li a{
    display: block;
    padding: 0.5em;
    transition: 0.3s;
}
.content ul li > a{
    border: 1px solid var(--txt);
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
}
.content ul li > a > p:last-child, .firstLine > *:first-child{
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}
.firstLine *{
    display: none;
}
.content ul li a.privateProject{
    pointer-events: none;
    cursor: default;
    background-color: var(--box-bg);
    color: var(--txt);
}
.content ul li a.privateProject span{
    font-size: 1rem;
    margin-left: 2rem;
}
.content ul li a:hover{
    background-color: var(--box-bg);
}
.content ul li .project-link{
    position: relative;
    border: 1px solid var(--txt);
}
.content ul li i{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    height: 100%;
    width: 3rem;
    cursor: pointer;
    border-left: 1px solid var(--txt);
    background-color: var(--main-bg);
    transition: 0.3s;
}
.content ul li i:hover{
    background-color: var(--box-bg);
}
.content ul li i:before{
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    transition: 0.3s;
}
.content ul li:has(> .hidden) i:before{
    transform: translate(50%, -50%) rotate(180deg);
}
.content ul li:has(ul) > .project-link > i{
    display: block;
}
.categories{
    margin-top: 1.5em;
}
.categories > a{
    display: flex;
    height: 10em;
    background-color: var(--box-bg);
    text-align: center;
    flex-flow: column;
    justify-content: space-evenly;
    border: 3px solid var(--txt);
}
.categories > a:hover{
    background-color: var(--main-bg);
    transition: 0.3s;
}
.categories > a img{
    filter: var(--svg-filter);
    height: 5em;
}

/******************************************
ARTICLES
******************************************/
.articleEdit{
    position: absolute;
    right: 1.25rem;
    top: 1rem;
    font-size: 1.5rem;
}
.articleEdit a{
    margin-left: 0.25rem;
}
.articleEdit a:hover i{
    transition: 0.3s;
    color: var(--link);
}
.mainArticleContent{
    hyphens: auto;
}
.mainArticleContent .articleInfo{
    min-width: 25rem;
    float: right;
    width: 30%;
    max-width: 37.5rem;
    background-color: var(--box-bg);
    border-left: 1rem solid var(--main-bg);
    border-bottom: 1rem solid var(--main-bg);
    font-size: 0.9rem;
}
.mainArticleContent .articleInfo .info{
    border: 1px solid var(--txt);
}
.mainArticleContent .articleInfo .info td:not([colspan="2"]):first-child{
    min-width: 30%;
}
.mainArticleContent .articleInfo table{
    width: 100%;
    border-collapse: collapse;
}
.mainArticleContent .articleInfo h3{
    margin: 0.5rem 0;
}
.mainArticleContent .articleInfo .gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}
.mainArticleContent .articleInfo .gallery figure{
    width: calc(50% - 2rem);
    margin-bottom: 0.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.mainArticleContent .articleInfo .gallery figure.solo{
    width: calc(100% - 2rem);
    text-align: center;
}
.mainArticleContent .articleInfo .gallery img{
    max-width: 100%;
    margin-bottom: 0.25rem;
    max-height: 15rem;
}
.mainArticleContent .articleInfo h5{
    text-align: center;
}
.mainArticleContent .articleInfo td[colspan="2"]:has(h5){
    background-color: var(--box-bg2);
}
.mainArticleContent .articleInfo tr:not(:last-child){
    border-bottom: 1px solid var(--txt);
}
.mainArticleContent .articleInfo td{
    padding: 0.25rem 0.5rem;
}
.mainArticleContent .articleInfo td:nth-child(2){
    border-left: 1px solid var(--txt);
}
.mainArticleContent .register{
    background-color: var(--box-bg);
    display: flex;
    flex-flow: column;
    padding: 0.3rem 0.75rem;
    width: fit-content;
    max-width: 50%;
    min-width: 20%;
    clear: left;
    margin: 1rem 0;
    border: 1px solid var(--txt);
}
.mainArticleContent .register a{
    margin: 0.3rem 0;
}
.mainArticleContent .register a.level2{
    margin-left: 2rem;
}
.mainArticleContent .register a.level3{
    margin-left: 4rem;
}
.mainArticleContent .contentText figure{
    float: right;
    max-width: 13rem;
    clear: right;
    margin-bottom: 1rem;
    position: relative;
    z-index: 10;
}
.mainArticleContent .contentText figure a{
    position: relative;
    z-index: 10;
}
.mainArticleContent .contentText figure:after{
    content: "";
    position: absolute;
    border-left: 1rem solid var(--main-bg);
    border-bottom: 1rem solid var(--main-bg);;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    right: -1px;
}
.mainArticleContent .contentText figure:has(figcaption), .mainArticleContent .contentGallery figure:has(figcaption){
    background-color: var(--box-bg);
    border: 1px solid var(--txt);
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.mainArticleContent .contentText figure img, .mainArticleContent .contentGallery figure img{
    max-width: 100%;
    max-height: 18rem;
}
.mainArticleContent figcaption{
    width: 100%;
}
.mainArticleContent .contentGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.mainArticleContent .contentGallery figure{
    margin-right: 1rem;
    height: fit-content;
    margin-bottom: 1rem;
}
.mainArticleContent .contentGallery img{
    max-width: 25rem;
    max-height: 20rem;
}
.spoiler{
    background-color: var(--box-bg);
    padding: 0.15rem 0.25rem;
    border-radius: 3px;
    color: transparent;
}
.mainArticleContent .spoiler.shown{
    background-color: var(--body-bg);
    color: var(--txt);
}

/******************************************
MEDIA QUERIES
******************************************/
@media screen and (max-width: 1400px){
    main > .content{
        width: calc(100% - 13em);
    }
    #right{
        width: 100%;
        margin-top: 2em;
    }
}